@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
  background: linear-gradient(135deg, #0f021f, #3a0ca3, #7209b7);
  color: white;
}

::selection {
  background-color: purple;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Header + Hero */
.wrapper {
  color: #f8fafc;
  padding-top: 1rem;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: 10vw;
  padding: 20px;
  border-radius: 50px;
  font-family: Roboto;
  font-weight: 450;
  color: white;
  background: linear-gradient(135deg, #0f021f, #3a0ca3, #7209b700);
}

#logo-img {
  filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(7472%) hue-rotate(233deg) brightness(94%) contrast(95%);
  border: 1px solid #3a0ca3;
  border-radius: 30px;
  width: 30px;
  padding: 3px;
}

.right-side-links {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.right-side-links a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #4f03ff;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  transform: scale(1);
  padding: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;

}

.hero-section p:first-child {
  font-size: small;
  font-weight: bold;
}

.hero-section p:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
}

span {
  font-family: monospace;
  font-size: 17px;
  font-weight: 500;
  color: #FFFDFE
}

.hero-section p:nth-child(3) {
  font-size: 30px;
  font-weight: 800;
  color: #4f03ff;
  border: 2px solid #4f03ff;
  border-radius: 5px;
  width: 400px;
}

.hero-section p:last-child {
  font-size: small;
  color: #94a3b8;
}

#waving_hand {
  height: 100px;
  width: 100px;
}

.btn,
.skill-name,
.skill-card-title {
  color: white;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social {
  width: 15px;
}

/* FIRST CHILD — Filled button - My Projects */
.btns :first-child {
  background-color: #4f03ff;
  border: none;
}

.btns :first-child:hover {
  box-shadow: 0 0 10px #4f03ff, 0 0 20px #4f03ff;
  transform: scale(1.03);
}

.btns :first-child:active {
  transform: scale(0.96);
  box-shadow: 0 0 5px #4f03ff, 0 0 10px #4f03ff inset;
}

/* LAST CHILD — Outlined button - Lets Talk*/
.btns :last-child {
  border: 2px solid #4f03ff;
  margin-left: 15px;
}

.btns :last-child:hover {
  box-shadow: 0 0 20px #4f03ff, 0 0 20px #3a0ca3;
  transform: scale(1.03);
}

.btns :last-child:active {
  transform: scale(0.96);
  background-color: rgba(79, 3, 255, 0.1);
  box-shadow: 0 0 8px #4f03ff inset;
}


/* About Me Section */
.about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-img {
  width: 250px;
  align-self: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 80px;
}

.about-img img {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 5px #3a0ca3, 0 0 10px #4f03ff
}

.about-text {
  width: 720px;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.7;
}

.about-text p+p {
  margin-top: 0.5rem;
}

.about-img-and-text {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 80px;
  gap: 100px;
}

/* Skills Section */
.skills-section {
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}

.skill-card {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.skill-name {
  border: 2px solid #4f03ff;
  margin: 10px;
}

.skill-name:hover {
  box-shadow: 0 0 20px #4f03ff, 0 0 20px #3a0ca3;
}

/* Projects Section */
.projects {
  padding: 0px 100px 100px 100px;
  text-align: center;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.project-card-wrapper {
  display: flex;
  justify-content: space-between;
  border: 2px solid #4f03ff;
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  box-shadow: 0 0 10px #4f03ff, 0 0 10px #3a0ca3;
  transition: all 0.4s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.project-card-wrapper:hover {
  transform: scale(1.05);
}

.project-card>.btns {
  position: relative;
  left: 100px;
  bottom: 0px;
}

.project-card button:last-child {
  margin-left: 20px;
}

.project-card-title {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.7;
  font-weight: bolder;
  color: #4f03ff;
}

.project-description {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.7;
}

.pbtn {
  margin: 0;
  padding: 5px 10px;
  border: 2px solid #4f03ff;
}

/* Footer */
footer {
  text-align: center;
  background: linear-gradient(135deg, #3a0ca3, #0f021f, #7209b700);
  padding: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}
.social-links a:nth-child(n):hover{
  transform: scale(1.5);
}