@font-face {
  font-family: "ibmPlex";
  src: url("../fonts/ibmPlexMono/ibmplexmono-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/ibmPlexMono/ibmplexmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"),
    url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntuLight";
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"),
    url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg-color: #292f36;
  --bg-color2: #43454d;
  --bg-color3: #1a1e23;
  --primary-color1: #12f7d6;
  --primary-color2: #fff;
  --primary-color3: #98faec;
}
/* Global */
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-color2);
  font-family: ubuntu;
  background-color: var(--bg-color3);
}
.section {
  display: flex;
  justify-content: center;
}
main .section {
  min-height: 100vh;
}
.container {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 0.2rem 2rem;
  height: 100%;
}
main .container {
  padding: 2rem;
}
.section-footer {
  width: fit-content;
  align-self: center;
  width: 25px;
}
.mouse-line {
  margin: 0 auto;
}
.title {
  text-align: center;
  letter-spacing: 2px;
}
.title p:first-child {
  position: relative;
  font-size: 4rem;
  color: var(--primary-color1);
}
.title p:first-child::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/icons/line_with_dots.svg) no-repeat;
  background-position: bottom;
}
.title p:last-child {
  font-size: 0.8rem;
  font-family: ibmPlex;
  padding-top: 0.5rem;
}
/* Header */
header,
nav,
nav ul,
.nav-list-right div,
.nav-social-link {
  display: flex;
  align-items: center;
}
header {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  flex-direction: column;
}
nav {
  justify-content: space-between;
  padding: 2rem;
  color: var(--primary-color2);
  width: 90%;
  border-bottom: 1px solid #43454d81;
  font-family: "ibmPlex";
}
nav ul {
  gap: 1rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--primary-color2);
}
.nav-list-left {
  font-weight: bold;
  font-size: 1.3rem;
}
.nav-list-left li:first-child {
  color: var(--primary-color1);
}
.nav-list-right-links li a:hover {
  color: var(--primary-color1);
}
.nav-list-right-social img {
  width: 18px;
  height: 18px;
}
.nav-list-right,
.nav-list-right-left {
  font-size: 1.25rem;
  gap: 4rem;
}
.nav-list-right-social li a {
  font-size: 0.9rem;
  gap: 0.5rem;
}
.nav-list-right-social li a:hover img {
  animation: scaleRotate 0.8s ease forwards;
  filter: drop-shadow(0 1px 5px var(--primary-color1));
}
.nav-list-right-social li a:hover span {
  color: var(--primary-color1);
  font-weight: 700;
}
.search-box {
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.1rem 1rem;
  font-weight: 300;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.911);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.search-box:focus {
  border: none;
  outline: 1px solid var(--primary-color1);
}
.search-container {
  position: relative;
}
.search-container img {
  position: absolute;
  width: 20px;
  top: 0.28rem;
  right: 1rem;
}
/* Hero section */
.side-nav,
.hero-container,
.hero-content,
.hero-content-left,
.left-info,
.hero-content-right,
.hero-cta,
.hero-cta-button,
.capsule-para {
  display: flex;
}
.hero-section {
  width: 100%;
  justify-content: center;
}
.side-nav {
  background-color: var(--bg-color3);
  height: min-content;
  padding: 0.9rem 0.6rem;
  border-radius: 40px;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  top: 6rem;
  position: fixed;
  z-index: 999;
  left: 2rem;
}
.side-nav svg {
  cursor: pointer;
}
.side-nav a.active {
  background-color: var(--bg-color);
  border-radius: 20px;
}
.side-nav a.active svg path {
  fill: var(--primary-color1);
}
.side-nav svg:hover path {
  fill: var(--primary-color3);
}
.side-nav a {
  position: relative;
  padding: 0.5rem;
}
.side-nav a::before {
  position: absolute;
  bottom: 0.5rem;
  color: #000000cc;
  background: var(--primary-color2);
  padding: 0.1rem 0.3rem;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
}
.side-nav a:first-child::before {
  content: "Home";
  right: -4.3rem;
}
.side-nav a:nth-child(2)::before {
  content: "About";
  right: -4.3rem;
}
.side-nav a:nth-child(3)::before {
  content: "Skills";
  right: -3.8rem;
}
.side-nav a:nth-child(4)::before {
  content: "Work";
  right: -3.8rem;
}
.side-nav a:last-child::before {
  content: "Contact";
  right: -4.8rem;
}
.side-nav a:not(.active):hover::before {
  animation: fadeStay 2s ease forwards;
  animation-delay: 2s;
}
.hero-container {
  width: 90%;
  flex-direction: column;
  padding: 0.2rem 2rem;
}
.hero-title {
  align-self: center;
  color: var(--primary-color3);
  font-size: 4rem;
}
.hero-content {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero-content-left {
  align-items: center;
  flex-direction: column;
  border-top: 4px solid var(--primary-color1);
  border-left: 4px solid var(--primary-color1);
  padding: 1rem;
  border-radius: 124px 0px 120px 0px;
  font-family: ibmPlex;
  position: relative;
}
.hero-content-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 120px 0px 120px 0px;
}
.hero-photo-frame {
  text-align: center;
}
.profile-photo {
  margin: 0 auto;
  width: 90px;
  border-radius: 50px;
  border: 2px solid var(--primary-color1);
}
.photo-frame-name {
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0.5rem 0 0 0;
}
.photo-frame-text {
  font-size: small;
}
.left-info {
  font-size: small;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.left-info-label {
  padding: 0.2rem 0 0.2rem 0;
}
.left-info-label span {
  color: #000;
  background-color: var(--primary-color1);
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
}
.tag {
  color: var(--primary-color3);
}
.hero-content-right {
  flex-wrap: wrap;
}
.right-info-title {
  font-size: 2.2rem;
  text-indent: 1rem;
  padding-bottom: 1rem;
}
.right-info-title .tag {
  font-size: initial;
}
.right-info-title p:nth-child(2) span {
  color: var(--primary-color1);
}
.para-tag {
  font-size: 0.8rem;
}
.right-info-title p:last-child {
  line-height: 1;
}
.right-info-para {
  font-family: ibmPlex;
  font-size: small;
  padding: 0.2rem 0.2rem 0 1rem;
}
.break {
  display: block;
}
.hero-cta {
  padding: 1rem 0 0 0;
  gap: 1rem;
  align-items: center;
  text-indent: 1rem;
  width: fit-content;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.466);
  border-radius: 10px;
}
.hero-cta:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.466);
}
.hero-cta:active {
  transform: scale(1);
}
.hero-cta > a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--primary-color1);
  font-family: ibmPlex;
  font-weight: 600;
}
.hero-cta-button img {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 0.1rem 0.5rem;
}
.hero-cta-button {
  appearance: none;
  border: none;
  background: none;
}
.capsule {
  background-color: var(--bg-color3);
  height: max-content;
  padding: 1.3rem;
  border-radius: 60px;
}
.capsule-para {
  align-items: center;
  gap: 0.5rem;
}
.capsule-para p:first-child {
  font-size: 3rem;
  color: var(--primary-color1);
}
.capsule-para p:last-child {
  font-size: 0.8rem;
  font-family: ibmPlex;
}
/* About Section */
.about-section {
  background: var(--bg-color3) url(../images/backgrounds/about.svg);
}
.about-content {
  padding: 2rem 0;
}
.about-content-title {
  background-color: var(--bg-color);
  width: fit-content;
  padding: 0.2rem 0.9rem;
  border: 2px solid var(--primary-color1);
  border-radius: 25px 0 25px 0;
  font-size: 2rem;
  letter-spacing: 2px;
}
.about-content-text {
  line-height: 1.6;
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--bg-color);
  border-radius: 40px;
  font-family: ibmPlex;
}
.about-content-text .tag {
  padding: 0.5rem 0;
}
.about-content-text p:nth-child(2) {
  font-size: 2rem;
  color: var(--primary-color1);
}
.about-content-text span {
  color: var(--primary-color1);
}
/* Skills section */
.skills-section,
.works-section {
  position: relative;
  z-index: 1;
}
.skills-section::before,
.works-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.skills-section::before {
  opacity: 0.03;
  background: url(../images/backgrounds/skills.jpg) no-repeat;
  background-position: center;
}
.skills-container {
  position: relative;
  align-items: center;
}
.skills-container > .tag {
  position: absolute;
  font-size: 1rem;
  font-family: ibmPlex;
}
.skills-container .tag1 {
  left: 2%;
  top: 10%;
}
.skills-container .tag2 {
  left: 2%;
  bottom: -16%;
}
.skills-content {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
.skills-content img {
  width: 60px;
}
.skills {
  display: grid;
  place-items: center;
  gap: 2rem;
  height: fit-content;
  grid-template-columns: repeat(2, minmax(60px, 1fr));
  grid-auto-rows: auto;
}
.frontend-skills p,
.tools p {
  grid-area: 1 / 1 / 2 / 3;
}
.technical-skills {
  display: flex;
  gap: 2rem;
}
.soft-skills .skills-card p {
  padding: 0.2rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  width: fit-content;
  max-width: 200px;
  font-family: ibmPlex;
  text-align: center;
  border-radius: 17px;

  background-color: var(--bg-color3);
}
.skill-card-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary-color2);
  font-weight: 600;

  padding: 0.1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  box-shadow: -4px -4px 1px rgba(0, 0, 0, 0.623);
}
.skills-container .section-footer {
  position: absolute;
  bottom: -28%;
}
.skills-card {
  border: 1px solid #00eeff1e;
  backdrop-filter: blur(5px);
  border-radius: 0 25px 0 25px;
  padding: 1rem;
}
.skills-card img,
.skills-card {
  transition: all 0.3s ease;
}
.skills-card img {
  cursor: pointer;
}
.skills-card img:hover {
  transform: scale(1.1);
}
.skills-card img:active {
  transform: scale(1);
}
.skill-html img:hover,
.skill-git img:hover {
  filter: drop-shadow(0 5px 10px #ff66004f);
}
.skill-css img:hover,
.skill-vscode img:hover {
  filter: drop-shadow(0 5px 10px #0059ff4f);
}
.skill-js img:hover {
  filter: drop-shadow(0 5px 10px #ffd9004f);
}
.skill-gsap img:hover {
  filter: drop-shadow(0 5px 10px #00ff154f);
}
.skill-github img:hover {
  filter: drop-shadow(0 5px 10px #ffffff4f);
}
.skill-netlify img:hover {
  filter: drop-shadow(0 5px 10px #00b7ff4f);
}
.skill-figure {
  position: relative;
}
.skill-figure::after {
  position: absolute;
  bottom: -1.5rem;
  right: -1rem;
  padding: 0.1rem;
  color: #fafafa;
  font-size: 0.7rem;
  font-family: ibmPlex;
  opacity: 0;
}
.skill-html::after {
  content: "HTML";
}
.skill-css::after {
  content: "CSS";
}
.skill-js::after {
  content: "JavaScript";
}
.skill-git::after {
  content: "Git";
}
.skill-github::after {
  content: "Github";
}
.skill-vscode::after {
  content: "Vs Code";
}
.skill-netlify::after {
  content: "Netlify";
}
.skill-figure:hover::after {
  animation: fadeStay 2s ease-in-out forwards;
  animation-delay: 1s;
}
/* Works section */
.works-section {
  background-color: var(--bg-color3);
}
.works-section::before {
  opacity: 0.06;
  background: url(../images/backgrounds/works.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.works-container {
  position: relative;
}
.works-container .section-footer {
  margin-top: 5.1rem;
}
.mySwiper {
  margin-top: 3rem;
  overflow: visible;
  overflow-x: hidden;
}
.swiper-slide {
  width: 250px;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 0;
  transform: none;
  color: #fff;
  background: #0008;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.swiper-button-prev {
  left: 50%;
  transform: translateX(-60px);
}
.swiper-button-next {
  left: 50%;
  transform: translateX(20px);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.3rem;
  font-weight: bold;
}
.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 65vmin;
  height: 250px;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background-color: var(--bg-color3);
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      var(--primary-color3) 5%,
      rgb(0, 0, 0) 35% 65%,
      var(--primary-color3) 95%
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.project-name {
  font-size: 1.2rem;
}
.project-stack,
.project-links,
.project-links a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.project-stack img {
  width: 30px;
}
.project-links {
  gap: 1rem;
  padding: 0 0 0.5rem 0;
}
.project-links a {
  gap: 0.3rem;
  color: var(--primary-color1);
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #ffffff33;
  padding: 0 0.3rem;
}
.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 45vmin;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in-out;
}
.inset {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}
.text {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  width: 45vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background-color: var(--bg-color3);
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: auto;

  scrollbar-color: var(--bg-color) var(--bg-color3);
  scrollbar-width: thin;
  scrollbar-track-color: #12f7d6;
}
.wrap:hover .overlay {
  transform: translateX(-45vmin);
}
.wrap:hover .image-content {
  width: 20vmin;
  filter: blur(5px);
}
.wrap:hover .overlay-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(45vmin);
}
.project1 .image-content {
  background-image: url("../images/works/luxeBite.png");
}
.project2 .image-content {
  background-image: url("../images/works/scrollScape.png");
}
/* Contact Section */
.form-title {
  margin: 3rem auto;
  border: 2px solid var(--primary-color1);
  width: fit-content;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: var(--primary-color1);
  border-radius: 30px 0px 30px 0px;
}
#my-form {
  display: flex;
  flex-direction: column;
}
#my-form > div {
  position: relative;
  margin-bottom: 6rem;
}
#my-form label {
  color: var(--primary-color1);
}
#my-form > div label {
  position: absolute;
  width: 50%;
}
#my-form > div label:last-child {
  left: 50%;
}
#my-form > div input {
  position: absolute;
  width: 90%;
}
#my-form textarea {
  height: 50px;
  flex-grow: 1;
  width: 96%;
}
#my-form input,
#my-form textarea {
  appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid var(--primary-color3);
  color: var(--primary-color2);
  padding: 1rem 0 0 0;
}
#my-form input:focus,
#my-form textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color1);
}
#my-form-button {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
  margin: 2rem 0;
  width: fit-content;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color3);
  color: #fff;
  border: 1px solid var(--primary-color3);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
#my-form-button::before {
  content: "";
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color1);
  transition: all 0.3s ease;
  z-index: 0;
}
#my-form-button span,
#my-form-button img {
  position: relative;
  z-index: 1;
}
#my-form-button:hover::before {
  height: 100%;
}
#my-form-button:hover {
  color: #000;
  box-shadow: 0px 4px 14px rgba(2, 255, 213, 0.507);
}
#my-form-button:active {
  transform: scale(0.9);
}
#result {
  display: none;
}
/* Footer */
footer {
  display: flex;
  padding: 1rem;
  border-top: 1px solid var(--bg-color);
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 1rem;
  flex-wrap: wrap-reverse;
}
footer p {
  font-family: ubuntuLight;
  opacity: 0.7;
}
.footer-links {
  display: flex;
  gap: 1rem;
}
.footer-links img:hover {
  animation: scaleRotate 0.5s ease forwards;
  filter: drop-shadow(0 1px 5px #98faec);
}
/* Scroll animation */
.scrollAnimate {
  opacity: 0;
  transform: translateY(100px) scale(0.9);
}
/* Typewriter effect */
.typewriter {
  position: relative;
  overflow: hidden;
  margin-inline: auto;
  white-space: nowrap;
  animation: typing 3s steps(22) forwards;
}
